<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
    <link rel="stylesheet" href="/vendors/zabuto/css/zabuto_calendar.min.css" />
    <style type="text/css">
      .demo-calendar {
        /* min-height: 340px; */
        background-color: #fff;
        padding: 10px;
        border: 1px solid #888;
        border-radius: 4px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <header><%- include('./components/navbar'); %></header>
    <div class="wrapper mt-nav-height">
      <main class="container p-4">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
            ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
          >
        </div>

        <!-- Content Row -->
        <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">當日總營收</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%=revenue.total_revenue %></div>
                  </div>
                  <div class="col-auto">
                    <i class="bi bi-piggy-bank-fill fa-2x text-gray-200"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">當日總顧客數量</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%=revenue.total_motos.length %></div>
                  </div>
                  <div class="col-auto">
                    <i class="bi bi-people-fill fa-2x text-gray-200"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <!-- 帶著footer的card，footer分為兩邊，左邊為more details，右邊唯一個箭頭 -->
            <div class="card border-left-warning shadow h-100">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">當日新顧客數量</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%=revenue.new_motos.length %></div>
                  </div>
                  <div class="col-auto">
                    <i class="bi bi-person-fill-add fa-2x text-gray-200"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between bg-white">
                <a class="small text-warning stretched-link" href="#">詳細訊息</a>
                <div class="small text-warning"><i class="bi bi-chevron-right"></i></div>
              </div>
            </div>
          </div>
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">當日已營業時長</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div id="progress-num" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                      </div>
                      <div class="col">
                        <!-- 在這個progress bar左上的灰色小標籤，表示起始時間 -->
                        <div  class="d-flex justify-content-between">
                          <span id="start_work_time" class="text-xs font-weight-bold text-secondary text-uppercase" style="font-size: xx-small;"><%=revenue.start_work_time %></span>
                          <!-- 在這個progress bar右上的灰色小標籤，表示結束時間 -->
                          <span id="end_work_time" class="end-100 text-xs font-weight-bold text-secondary text-uppercase" style="font-size: xx-small;"><%=revenue.end_work_time %></span>
                        </div>

                        <div class="progress progress-sm mr-2">
                          <div
                            id="progress-bar"
                            class="progress-bar"
                            role="progressbar"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            <div id="progress-text" class="progress-bar bg-info"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between bg-white">
                <span id="setting-time" class="small text-info stretched-link text-decoration-underline" href="#"
                  >設定時間</span
                >
                <div class="small text-info"><i class="bi bi-chevron-right"></i></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Row -->

        <div class="row">
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
                </div>
              </div>
            </div>
          </div>

          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">日歷</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div id="calendar" class="demo-calendar"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->
      </main>
    </div>
    <%- include('./components/footer'); %>

    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/login/index.js"></script>
    <script src="/vendors/zabuto/js/zabuto_calendar.min.js"></script>
    <script src="/vendors/sweetalert2/sweetalert2@11.js"></script>
    <script src="/javascripts/dashboard/index.js"></script>
  </body>
</html>
