<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
    <link rel="stylesheet" href="/vendors/albe-timeline/css/jquery-albe-timeline.css" />
  </head>
  <body>
    <header><%- include('./components/navbar'); %></header>
    <div class="wrapper mt-nav-height">
      <main class="container p-3">
        <div class="card mb-3">
          <div class="d-flex card-header justify-content-between align-items-center">
            <span>顧客資訊</span>
            <button id="edit-moto" class="btn btn-outline-warning btn-sm" type="button">
              <i class="bi bi-pencil-square"></i>編輯
            </button>
          </div>
          <div class="card-body">
            <div class="row text-nowrap">
              <div class="visually-hidden">
                <div class="title">id</div>
                <div id="id" class="visually-hidden"><%=moto._id %></div>
                <div id="moto" class="visually-hidden"><%=JSON.stringify(moto) %></div>
              </div>
              <div class="col col-md-3 border p-0">
                <div class="title">機車車牌</div>
                <div id="license_no"><%=moto.license_no %></div>
              </div>
              <div class="col col-md-3 border p-0">
                <div class="title">顧客稱呼</div>
                <div id="owner_name"><%=moto.owner_name %></div>
              </div>
              <div class="col col-md-3 border p-0">
                <div class="title">聯絡方式</div>
                <div id="owner_phone"><%=moto.owner_phone %></div>
              </div>
              <div class="col col-md-3 border p-0">
                <div class="title">上次來店</div>
                <div><%=moto.updatedAt %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="d-flex card-header justify-content-between align-items-center">
            <span>來店時間軸</span>
            <button id="add-timeline" class="btn btn-outline-success btn-sm" type="button"><i class="bi bi-plus"></i>新增</button>
          </div>
          <div class="card-body" style="background-color: #efefef">
            <div class="">
              <div id="myTimeline"></div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- include('./components/footer'); %>
    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/moto/index.js"></script>
    <script src="/vendors/sweetalert2/sweetalert2@11.js"></script>
    <script src="/vendors/albe-timeline/js/jquery-albe-timeline.js"></script>
  </body>
</html>
